---
const { src, alt } = Astro.props;
---

<div
  class="relative w-[70px] h-[70px] transition-[width,height]
 hover:w-[90px] hover:h-[90px] p-[5px] cursor-pointer will-change-[width,height] rounded-md outline-[1px] outline-black/50"
>
  <img src={src} alt={alt} />
</div>

<style>
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
