---
const { className = "", children } = Astro.props;
---

<div
  class={`flex h-10 w-full items-center justify-between rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground disabled:cursor-not-allowed disabled:opacity-50 ${className}`}
>
  <span class="line-clamp-1">{children}</span>
  <svg
    class="h-4 w-4 opacity-50"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    ><path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M19 9l-7 7-7-7"></path></svg
  >
</div>
