---
import PageHeader from "../../components/layout/pageHeader.astro";
import Layout from "../../layouts/Layout.astro";

---

<Layout title="Home">
  <PageHeader
    title="Galería"
    description="Explora nuestra galería de imágenes y videos relacionados con nuestras investigaciones."
  />
  <h1>Galería</h1>
</Layout>
