---
import PageHeader from "@/components/layout/pageHeader.astro";
import Layout from "@/layouts/Layout.astro";

import { getPDFsFromPublicFolder } from "@utils/getPdfs";

const pdfs = getPDFsFromPublicFolder();
---

<Layout title="Repositorio pdfs">
  <PageHeader
    title="Repositorio de PDFs"
    description="Accede a nuestros documentos PDF."
  />

  <article class="min-h-screen  w-full mx-auto">
    <ul class="grid gap-6 w-full">
      {
        pdfs.map((pdf) => (
          <li class="bg-white hover:bg-indigo-100 rounded-xl shadow-md hover:shadow-lg transition-shadow p-6 border border-gray-200 overflow-hidden">
            <a href={pdf.url} download class="block h-full">
              <h3 class="text-lg font-semibold text-gray-800 mb-2 truncate">
                📄 {pdf.filename}
              </h3>
              <p class="text-sm text-gray-500 hover:underline">
                Descargar documento PDF
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </article>
</Layout>
