---
import Close from "@/icons/close.astro";
import Contacts from "@/icons/contacts.astro";
import Gallery from "@/icons/gallery.astro";
import Init from "@/icons/init.astro";
import News from "@/icons/news.astro";
import Teams from "@/icons/teams.astro";
import Menu from "@icons/menu.astro";
import Publications from "@icons/publications.astro";

const navLinks = [
  { href: "/", label: "Inicio", Icon: Init },
  { href: "/team", label: "Team", Icon: Teams },
  { href: "/publications", label: "Publicaciones", Icon: Publications },
  { href: "/gallery", label: "Galería", Icon: Gallery },
  { href: "/news", label: "News", Icon: News },
  {
    href: "/pdfs",
    label: "PDFs",
    Icon: Publications,
  },
  {
    href: "/collaborations",
    label: "Collaborations",
    Icon: Teams,
  },
  { href: "/contact", label: "Contacto", Icon: Contacts },
];
---

<header class="hero h-16">
  <div class="header-container">
    <div class="px-4 sm:px-6 ">
      <a
        href="/"
        class="text-indigo-600 hover:text-indigo-500 transition-colors font-semibold text-xl"
      >
        <!-- <Github style="width: 28px; height: 28px;" /> -->
        MathBio Lab
      </a>
    </div>

    <div class="px-4 sm:px-6 ">
      <input type="checkbox" id="sidebar-active" class="hidden" />
      <label for="sidebar-active" class="open-sidebar-button">
        <Menu />
      </label>

      <label id="overlay" for="sidebar-active"></label>

      <nav id="desktop-nav" class="links-container">
        <label for="sidebar-active" class="close-sidebar-button">
          <a
            href="/"
            class="gap-2 text-indigo-600 text-start hover:text-indigo-500 transition-colors font-semibold text-xl"
          >
            <!-- <Github style="width: 28px; height: 28px;" /> -->
            MathBio Lab
          </a>
          <Close />
        </label>
        <ul class="space-x-2 font-medium text-sm">
          {
            navLinks.map(({ href, label, Icon }) => (
              <li>
                <a
                  href={href}
                  class={`px-3 py-2 rounded-md text-sm font-medium transition-colors flex items-center gap-2
              ${Astro.url.pathname === href ? "bg-indigo-600 text-white" : "text-gray-700 hover:bg-indigo-100 hover:text-indigo-600"}
            `}
                >
                  <Icon style="width: 18px; height: 18px;" />
                  {label}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </div>
</header>

<style>
  :root {
    --color-1: #0f1016;
    --text-color: #f0f0f0;
    --accent-color: #006aff;
  }

  svg {
    block-size: 24px;
    inline-size: 24px;
    fill: var(--text-color);
  }

  #sidebar-active {
    display: none;
  }

  .open-sidebar-button,
  .close-sidebar-button {
    display: none;
    padding: 0 20px;
    cursor: pointer;
  }

  .hero {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    color: var(--text-color);

    nav {
      inline-size: 100%;

      ul {
        display: flex;
        justify-content: center;
        inline-size: 100%;
      }
    }

    .header-container {
      display: flex;
      block-size: 100%;
      width: 100%;
      max-width: 1480px;
      margin-inline: auto;

      > * {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      > :first-child {
        margin-right: auto;
      }
    }

    .home-link {
      margin-right: auto;
    }
  }

  .links-container {
    block-size: 100%;
    inline-size: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  @media (max-width: 1200px) {
    .hero {
      nav {
        ul {
          display: flex;
          flex-direction: column;
        }
      }
    }

    .links-container {
      flex-direction: column;
      align-items: flex-start;
      position: fixed;

      height: 100vh;
      padding-block: 0.6rem;

      top: 0;
      right: -100%;
      z-index: 10;
      inline-size: max-content;
      background-color: white;
      box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);

      transition: 0.1s ease-in-out;
    }

    .open-sidebar-button,
    .close-sidebar-button {
      display: block;
    }

    #sidebar-active:checked ~ .links-container {
      right: 0;
    }

    #overlay {
      opacity: 0;
      transition: 0.1s ease-in-out;
    }

    #sidebar-active:checked ~ #overlay {
      opacity: 1;
      background: rgba(0, 0, 0, 0.5);
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 5;
    }

    .close-sidebar-button {
      display: flex;
      justify-content: center;
      align-items: center;

      > *:last-child {
        margin-left: auto;
      }
    }
  }
</style>
