---
import PageHeader from "@components/layout/pageHeader.astro";
import Layout from "@/layouts/Layout.astro";

import { getCollection } from "astro:content";

const newsItems = await getCollection("news");
const currentNews = newsItems.map((item) => ({
  id: item.id,
  ...item.data,
}));
---

<Layout title="News">
  <PageHeader
    title="News"
    description="Stay updated with the latest news and announcements from our team."
  />

  <ul id="search-results" class="space-y-4">
    {
      currentNews.map((paper) => (
        <li class="border rounded-md p-4 shadow-sm mb-4">
          <h3 class="title font-semibold text-lg">{paper.title}</h3>
          <p class="authors text-sm text-muted-foreground">{paper.summary}</p>

          {paper.href && (
            <a
              href={paper.href}
              class="url text-primary text-sm mt-2 inline-block hover:underline"
              target="_blank"
              rel="noopener noreferrer"
            >
              View News
            </a>
          )}
        </li>
      ))
    }
    {
      currentNews.length === 0 && (
        <li class="text-center text-muted-foreground">
          No News found.
        </li>
      )
    }
  </ul>
</Layout>
