---
import Instagram from "../icons/instagram.astro";
import Linkedin from "../icons/linkedin.astro";
---

<footer class="site-footer">
	<div>
		<img src="/logo.svg" alt="" />
		<p>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero
			nostrum adipisci voluptate dolore eos, laborum soluta esse incidunt.
			Eius nam tempora vitae provident nemo quam quia ducimus doloribus
			velit iusto.
		</p>
	</div>

	<div>
		<div class="site-footer-social">
			<div class="site-footer-social-link">
				<Instagram />
			</div>
			<div class="site-footer-social-link">
				<Linkedin />
			</div>
		</div>
	</div>
</footer>

<style>
	.site-footer {
		padding: 2rem;
		background-color: var(--bg-prefer-black);
		color: white;
		display: flex;
		width: 100%;
		min-width: 300px;


		& :nth-child(1) {
			
			& img {
				max-block-size: 100%;
				width: 150px;
				height: 200px;
				aspect-ratio: 1;
				object-fit: contain;
			}

			& p {
				text-wrap: wrap;
				
			}
		}

		& :nth-child(2) {
			& .site-footer-social {

				display: flex;

				& .site-footer-social-link {
					width: 40px;
					height: 40px;
					aspect-ratio: 1;
					object-fit: cover;
					display: grid;
					place-content: center;
					border-radius: 1rem;
					padding: 0.25rem;
					background-color: gray;
					fill: white;
				}
			}
		}
	}
</style>
