---
import Announcement from "./announcement.astro";

const links = [
    { href: "/", label: "Inicio" },
    { href: "/nosotros", label: "Nosotros" },
    { href: "/miembros", label: "Miembros" },
    { href: "/proyectos", label: "Proyectos" },
    { href: "/cursos", label: "Cursos" },
    { href: "/software", label: "Software" },
    { href: "/galeria", label: "Galería" },
];

const currentPath = Astro.url.pathname;
---

<Announcement />

<header class="header">
    <nav class="nav__container">
        <figure class="nav__figure">
            <img src="./logo.svg" alt="Logo" class="nav__logo" />
        </figure>

        <label for="menu-input" class="nav__toggle">
            <input
                type="checkbox"
                id="menu-input"
                class="nav__input"
                aria-label="Toggle navigation"
            />
        </label>

        <ul class="nav__list">
            {
                links.map((link) => (
                    <li
                        class={
                            currentPath === link.href
                                ? "nav__item active"
                                : "nav__item"
                        }
                    >
                        <a class="nav__link" href={link.href}>
                            {link.label}
                        </a>
                    </li>
                ))
            }
        </ul>
    </nav>
</header>

<style>
    /* Base Styles */
    .header {
        padding: 1.25rem;
        background-color: hsl(318, 71%, 37%);
        position: sticky;
        top: 0;
        z-index: 1000;
        isolation: isolate;
        animation: enhace-header linear both;
        animation-timeline: scroll(root block);
        animation-range: 0 200px;
    }

    .nav__container {
        width: min(90%, 1200px);
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        color: white;
        --menu-icon: url("./open.svg");
        --menu-show: translateY(-100%);
    }

    .nav__container:has(.nav__input:checked) {
        --menu-icon: url("./close.svg");
        --menu-show: translateY(0);
    }

    .nav__list {
        transform: var(--menu-show);
        margin: 0;
        list-style: none;
        position: fixed;
        inset: 0;
        display: grid;
        align-content: center;
        justify-content: center;
        padding: 1.5rem 5%;
        background-color: #000;
        z-index: 10;
        transition: transform 0.3s ease-in-out;
    }

    .nav__figure,
    .nav__toggle {
        z-index: 3;
    }

    .nav__figure {
        justify-self: flex-start;

        & img {
            width: 350px;
            height: 350px;
        }
    }

    .nav__input {
        display: none;
    }

    .nav__toggle {
        width: 30px;
        height: 30px;
        background-image: var(--menu-icon);
        background-size: cover;
        cursor: pointer;
        transition: background-image 0.3s;
    }

    .nav__link {
        color: #fff;
        text-decoration: none;
        text-align: center;
        font-size: 1.25rem;
    }

    .nav__item:not(:last-child) {
        margin-bottom: 1rem;
    }

    .active .nav__link {
        font-weight: bold;
        color: hsl(318, 71%, 50%);
    }

    @keyframes enhace-header {
        to {
            background: rgba(232, 103, 183, 0.244);
            backdrop-filter: blur(5px);
            font-size: 18px;
        }
    }

    /* Responsive Adjustments */
    @media (min-width: 768px) {
        .nav__list {
            position: static;
            display: flex;
            transform: none;
            padding: 0;
            background: none;
            opacity: 0;
            height: 100%;
        }

        .nav__item {
            margin-bottom: 0;
            margin-left: 1.5rem;
            opacity: 0;
            height: 100%;
        }

        .nav__toggle {
            display: none;
        }
    }
</style>
