---
import Close from "../icons/close.astro";
import Menu from "../icons/menu.astro";
import Announcement from "./announcement.astro";
import LanguageMenu from "./LanguageMenu.astro";
import Toggle from "./toggle.astro";

const links = [
    { href: "/", label: "Inicio" },
    { href: "/nosotros", label: "Nosotros" },
    { href: "/miembros", label: "Miembros" },
    { href: "/proyectos", label: "Proyectos" },
    { href: "/cursos", label: "Cursos" },
    { href: "/software", label: "Software" },
    { href: "/galeria", label: "Galería" },
];

const currentPath = Astro.url.pathname;
---

<Announcement />

<header class="header">
    <nav class="nav">
        <div class="nav__container">
            <figure class="nav__figure">
                <img src="./logo.svg" alt="" class="nav__logo" />
            </figure>

            <label for="menu-input" class="nav__toggle">
                <input type="checkbox" id="menu-input" class="nav__input" />
            </label>

            <ul class="nav__list">
                {
                    links.map((link) => (
                        <li
                            class={
                                currentPath === link.href
                                    ? "nav__item active"
                                    : "nav__item"
                            }
                        >
                            <a class="nav__link" href={link.href}>
                                {link.label}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </div>
    </nav>
</header>

<style>
    .header {
        padding: 1.25rem;
        background-color: hsl(318, 71%, 37%);

        position: sticky;
        top: 0;

        animation: enhace-header linear both;
        animation-timeline: scroll(root block);
        animation-range: 0 200px;
        z-index: 3;
    }

    .nav {
        background-color: #000;
    }

    .nav__container {
        color: white;
        width: min(90%, 1200px);
        margin: 0 auto;

        display: flex;
        align-items: center;
        justify-content: space-between;

        height: 80px;

        --menu-icon: url("./open.svg");
        --menu-show: translateY(-100%);
    }

    .nav__container:has(.nav__input:checked) {
        --menu-icon: url("./close.svg");
        --menu-show: translateY(0);
    }

    .nav__list {
        transform: var(--menu-show);

        margin: 0;

        list-style: none;

        position: fixed;
        inset: 0;
        display: grid;

        align-content: center;
        justify-content: center;

        padding: 1.5rem 5%;

        background-color: #000;

        z-index: 3;

        transition: transform 0.3s;
    }

    .nav__figure,
    .nav__toggle {
        z-index: 10;
    }

    .nav__input {
        display: none;
    }

    .nav__toggle {
        width: 30px;
        height: 30px;
        background-image: var(--menu-icon);
        background-size: cover;
        cursor: pointer;

        transition: background-image 0.3s;
    }

    .nav_input {
        width: 40px;
        height: 40px;
    }

    .nav__link {
        color: #fff;
        text-decoration: none;
    }

    @media (width < 764px) {
        .nav__container {
            --menu-show: translateY(0);
        }

        .nav__toggle {
            display: none;
        }

        .nav__list {
            position: static;
            grid-auto-flow: column;
            place-content: center;
            padding: 0;

            transition: unset;
        }
    }

    @keyframes enhace-header {
        to {
            background: rgba(232, 103, 183, 0.244);
            backdrop-filter: blur(5px);
            font-size: 18px;
            color: black;
        }
    }
</style>
