---
import Menu from "../icons/menu.astro";

const links = [
    { href: "/", label: "Inicio" },
    { href: "/nosotros", label: "Nosotros" },
    { href: "/miembros", label: "Miembros" },   
    { href: "/proyectos", label: "Proyectos" },
    { href: "/cursos", label: "Cursos" },
    { href: "/software", label: "Software" },
    { href: "/galeria", label: "Galería" },
];
---

<header class="header">
    <div class="sub-header">
        <figure class="logo">
            <img src="/logo.svg" alt="Logo MathBio" />
        </figure>
        <input type="checkbox" id="menu-toggle" class="menu-toggle" />
        <label for="menu-toggle" class="hamburger">
            <Menu />
        </label>
        <nav class="nav-links">
            {
                links.map((link) => {
                    return <a href={link.href}>{link.label}</a>;
                })
            }
        </nav>
    </div>
</header>

<style>
    .header {
        --color-prefer-text: #fff;
        position: sticky;
        top: 0;
        background-color: var(--bg-prefer-black);
        z-index: 10;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        transition: all 0.3s ease-in-out;
        width: 100%;

        & .sub-header {
            padding: 0rem 2rem;
            border-radius: 2rem;
            max-width: 1100px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: var(--color-prefer-text);
            transition: all 0.3s ease-in-out;
        }
    }

    /* Logo */
    .logo {
        & img {
            width: 200px;
            height: 90px;
            object-fit: cover;
        }
    }

    .menu-toggle {
        display: none;
    }

    .hamburger {
        display: none;
        flex-direction: column;
        justify-content: center;
        width: 30px;
        height: 30px;
        cursor: pointer;

        & svg {
            display: block;
            fill: white;
            stroke: white;
            transition: all 0.3s ease;
        }
    }

    /* Enlaces del menú */
    .nav-links {
        display: flex;
        align-self: center;
        gap: 0.25;
    }

    .nav-links a {
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        transition: background-color 0.3s ease;
    }

    .nav-links a:hover {
        background-color: #555;
        border-radius: 5px;
    }

    /* Estilos para pantallas pequeñas */
    @media (max-width: 1100px) {
        .hamburger {
            display: flex;
        }

        .nav-links {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: #444;
            padding: 10px 0;
        }

        .menu-toggle:checked ~ .nav-links {
            display: flex;
        }
    }
</style>

<script>
    document.addEventListener("astro:page-load", () => {
        const header = document.querySelector(".header") as HTMLElement;
        const subHeader = document.querySelector(".sub-header") as HTMLElement;
        const navLinks = document.querySelectorAll(".nav-links a");

        window.addEventListener("scroll", () => {
            const scrollY = window.scrollY;

            if (scrollY > 150 && header && subHeader) {
                header.style.backgroundColor = "transparent";
                subHeader.style.backdropFilter = "blur(5px)";
                subHeader.style.boxShadow = "0px 4px 6px rgba(0, 0, 0, 0.1)";
                subHeader.style.backgroundColor = "rgba(255, 255, 255, 0.8)";

                navLinks.forEach((link: Element) => {
                    const linkElement = link as HTMLElement;
                    linkElement.style.color = "#333";
                });
            } else {
                header.style.backgroundColor = "var(--bg-prefer-black)";
                header.style.backdropFilter = "none";

                subHeader.style.boxShadow = "none";
                subHeader.style.backgroundColor = "transparent";
                subHeader.style.border = "none";

                navLinks.forEach((link: Element) => {
                    const linkElement = link as HTMLElement;
                    linkElement.style.color = "#fff";
                });
            }
        });
    });
</script>
