<main>
    <!-- Contenedor principal de Swiper -->
    <div class="swiper-container">
        <div class="swiper info-cards">
            <!-- Wrapper adicional requerido -->
            <div class="swiper-wrapper" id="my-slider">
                <!-- Los slides -->
                <a
                    class="swiper-slide grilla"
                    href="/images/home/menu-1.jpg"
                    data-pswp-width="800"
                    data-pswp-height="800"
                    target="_blank"
                    data-cropped="true"
                >
                    <img src="/images/home/menu-1.jpg" alt="Image 3" />

                    <div class="info">
                        <h1>CHARLA</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur
                            adipisicing elit.
                        </p>
                    </div>
                </a>
                <a
                    class="swiper-slide grilla"
                    href="/images/home/menu-2.jpg"
                    data-pswp-width="800"
                    data-pswp-height="800"
                    target="_blank"
                    data-cropped="true"
                >
                    <img src="/images/home/menu-2.jpg" alt="Image 3" />
                    <div class="info">
                        <h1>CHARLA</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur
                            adipisicing elit.
                        </p>
                    </div>
                </a>
                <a
                    class="swiper-slide grilla"
                    href="/images/home/menu-3.png"
                    data-pswp-width="800"
                    data-pswp-height="800"
                    target="_blank"
                    data-cropped="true"
                >
                    <img src="/images/home/menu-3.png" alt="Image 3" />
                    <div class="info">
                        <h1>CHARLA</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur
                            adipisicing elit.
                        </p>
                    </div>
                </a>
            </div>
            <!-- Botones de navegación -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</main>

<style>
	img {
		max-inline-size: 100%;
	}

	.grilla {
		display: grid;
		grid-template-areas: "tech";
		place-content: center;

		background-color: #f0f0f0;

		&:hover .info {
			visibility: visible;
			opacity: 1;
		}
	}

	.grilla img {
		grid-area: tech;
		z-index: 1;
	}

	.grilla .info {
		grid-area: tech;

		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		visibility: hidden;
		opacity: 0;

		background-color: rgba(0, 0, 0, 0.4);
		color: white;

		z-index: 2;
		transition:
			opacity 0.3s ease,
			visibility 0.3s ease;
	}

	main {

		width: 100%;
		margin: 0 auto;
		padding: 20px;
		display: grid;
		justify-items: center;
		height: 100dvh;
	}

	.swiper-container {
		margin: 3rem 0;
		width: 100%;
		max-width: 2000px;
		height: auto;
	}

	.swiper {
		width: 100%;
	}

	.swiper-slide {
		padding: 0.25rem;
		height: 500px;
		border-radius: 10px;
		overflow: hidden;
		background: rgba(207, 202, 207, 1);
		background: conic-gradient(
			from 45deg,
			rgba(207, 202, 207, 1),
			rgba(248, 162, 226, 1)
		);
	}

	.swiper-slide img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.swiper-button-next,
	.swiper-button-prev {
		background-color: white;
		width: 60px;
		height: 60px;
		border-radius: 10px;
		background-image: url("/svgs/arrowRight.svg");
		background-repeat: no-repeat;
		background-size: 100% auto;
	}

	.swiper-button-prev {
		transform: rotate(180deg);
	}

	.swiper-button-next::after,
	.swiper-button-prev::after {
		content: "";
	}

	@media (max-width: 768px) {
		.swiper-slide {
			width: 70%;
			height: 400px;
		}

		.swiper-button-prev,
		.swiper-button-next {
			display: none;
		}
	}
</style>

<script>
	import Swiper from "swiper";
	import "swiper/css";
	import { Navigation } from "swiper/modules";
	import "swiper/css/navigation";

	import PhotoSwipeLightbox from "photoswipe/lightbox";
	import "photoswipe/style.css";

	document.addEventListener("astro:page-load", () => {
		const swiper = new Swiper(".swiper", {
			modules: [Navigation],
			loop: true,
			slidesPerView: "auto",
			spaceBetween: 20,
			breakpoints: {
				// Cuando la pantalla es >= 768px
				768: {
					slidesPerView: 2,
					spaceBetween: 30,
				},
				// Cuando la pantalla es >= 1024px
				1024: {
					slidesPerView: 2,
					spaceBetween: 20,
				},
			},
			navigation: {
				prevEl: ".swiper-button-prev",
				nextEl: ".swiper-button-next",
			},
		});

		// Configurar e inicializar Photoswipe
		const lightbox = new PhotoSwipeLightbox({
			gallery: "#my-slider",
			children: "a",
			pswpModule: () => import("photoswipe"),
		});
		lightbox.init();
	});
</script>
