---
import { ClientRouter } from "astro:transitions";
import "@styles/global.css";
import Footer from "@components/layout/footer.astro";
import Header from "@components/layout/header.astro";
import Announcement from "@/components/announcement.astro";
import ConfigPage from "@/components/layout/configPage.astro";
import Header2 from "@/components/layout/header2.astro";

interface Props {
  title: string | undefined;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="min-h-screen overflow-x-hidden">
    <ClientRouter />

    <div
      class="fixed inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]"
    >
      <div
        class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_800px_at_100%_200px,#d5c5ff,transparent)]"
      >
      </div>
    </div>
    <Announcement />
    <Header />

    <!-- <Header2 /> -->
    <main
      class="flex-grow container mx-auto px-4 sm:px-6 lg:px-8 py-8 min-h-screen overflow-x-hidden"
    >
      <slot />
    </main>
    <ConfigPage />
    <Footer />
  </body>
</html>

<script >
  document.addEventListener("astro:page-load", () => {
    const fallbackSrc = "/fallback-profile.png";

    document.querySelectorAll("img").forEach((img) => {
      const applyFallback = () => {
        if (!img.dataset.fallback) {
          img.dataset.fallback = "true";
          img.src = fallbackSrc;
        }
      };

      if (img.complete && img.naturalWidth === 0) {
        applyFallback();
      }

      img.onerror = applyFallback;
    });
  });
</script>
