---
import { getButtonClasses } from '../../utils/buttonStyles';

const {
  variant,
  size,
  class: className,
  href = "#",
  ...rest
} = Astro.props;

const classes = getButtonClasses({ variant, size, className });
---

<a href={href} class={classes} {...rest}>
  <slot />
</a>
